body{
    font-family: 'Open Sans', sans-serif;
    margin: 0%;
}
a{
    text-decoration: none;
}
a:link {
    color: #e5e7eb;
}
a:visited {
    color: #e5e7eb;
}
a:hover {
    color: #e5e7eb;
}
a:active {
    color: #e5e7eb;
}

/* HEADER */
.header{
    background-color: #1f2937;
}
.header div.content-header{
    margin-left: 15%;
    margin-right: 15%;
}

/* MENU */
.header div.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header div.header-logo{
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}
.header ul.menu-links{
    color: #e5e7eb;
    text-decoration: none;
    list-style-type: none;
    font-size: 18px;
    display: flex;
    gap: 16px;
}
.header ul.menu-links li{
    display: list-item;
}

/* HERO */
.header div.hero{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    gap: 5%;
}

/* HERO Left */
.header div.hero-left{
    flex: 1;
}
span.hero-main{
    color: #f9faf8;
    font-weight: 800;
    font-size: 48px;
}
span.hero-second {
    color: #e5e7eb;
}
.header button{
    padding: 10px 30px;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 10px;
    border: none;
}

/* HERO Right - IMG */
.header div.hero-right{
    flex: 1;
}
.header div.hero-right img{
    height: 300px;
    width: 700px;
    object-fit: cover;
}

/* RECTANGLE 1 */
.content1 p{
    text-align: center;
    font-weight: 800;
    font-size: 36px;
}
.content1 div.four-squares{
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
}
.content1 div.square-content{
    width: 150px;
    display: flex;
    flex-direction: column;
}
.content1 div.square{
    width: 150px;
    height: 150px;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 15px;
}
.content1 div.square-text{
    text-align: center;
    font-size: 18px;
}

/* RECTANGLE 2 */
.content2{
    background-color: #e5e7eb;
}
/* RECTANGLE 3 */

/* FOOTER */
#footer{
    bottom: 0;
    width: 100%;
    height: 5rem;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer div.copyright{
    color: #e5e7eb;
}